APP_NAME='mini-rag'
APP_VERSION="0.1" 

# Fixed, or Constant values
FILE_AVILABEL_TYPS = ["test/plain", "application/pdf" ] ## all files types can be uploaded
FILE_MAX_SIZE = 10 # the maximum file size to uploaded (MB)
